<p>home works!</p>
<button type="button" class="btn btn-primary" [routerLink]="['fase-1']">Fase 1</button>
<button type="button" class="btn btn-primary" [routerLink]="['fase-2']">Fase 2</button>
<button type="button" class="btn btn-primary" [routerLink]="['fase-3']">Fase 3</button>
<button type="button" class="btn btn-primary" [routerLink]="['fase-4']">Fase 4</button>
<button type="button" class="btn btn-primary">Fase 5</button>
<button type="button" class="btn btn-primary">Fase 6</button>
<button type="button" class="btn btn-primary">Fase 7</button>
<button type="button" class="btn btn-primary">Fase 8</button>
<button type="button" class="btn btn-primary">Fase 9</button>
<button type="button" class="btn btn-primary">Fase 10</button>